body{   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

#CompileButton{
    position: absolute;
    top:0;
    left: 50%;
}

#PlayButton{
    position: absolute;
    top:0;
    left: 45%;
}

#SaveButton{
    position: absolute;
    top:0;
    left: 35%;
}

#SettingsButton{
    position: absolute;
    top:0;
    left: 55%;
}

#Console{
    height: 100%;
    width: 35%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(243, 243, 243);
    overflow-x: hidden;
    padding-top: 60px;
}

#Console-Text{
    position: absolute;
    left: 1%;
    top: 0;
}