body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: black;
    transition: 150ms;
}

#btn-project-div {
	width:20%;	
	margin-top:10%;
}

.btn-menu {
    background-color: white;
    border: none;
    width: 100%;    
	padding:10px;
	display:inline;
	transition:150ms;
}

.btn-menu:hover {	
    background-color: gray;
}

#Version{
    position: absolute;
    bottom: 0;
    left: 1%;
}


#btn-hidden{
    position: absolute;

    width: 1%;
    height: 1%;

    top: 92%;
    right: 1%;    
}


#DSC-Logo{
    max-width: 65%;
    max-height: 65%;
    transition: 200ms;
    position: absolute;
    left: 50%;
    top: 15%;		
}

#DSC-Logo:hover{
    position: absolute;
    max-width: 75%;
    max-height: 75%;
    left: 47%;
    top: 10%;
}

