.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html, body {
	border:0;
	margin:0;	
}

div.body {	
	width:100%;
	height:100%;
	padding:0;
	margin:0;
}

div.body > div {
	padding:0;	
}

div.tabs-container div.tab-headers {
	border-bottom:1px solid black;
}

div.tabs-container div.tab-headers > div.tab-header {
	display:inline-block;
	border:1px solid black;
	margin:0;
	padding:1px 6px;
	min-width:50px;
	font-size:12px;
	background:white;
	border-bottom:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

div.tabs-container div.tab-headers > div.tab-header.focus {
	background:black;
	color:white;
}



div.tabs-container {
	background:lightgray;
}