projtree {
	margin-left:15px;
	display:block;		
}

projtree ul {
	list-style: none;
	padding-top:0;
	padding-bottom:0;	
}

projecttree li {
	margin:0;
}



projtree li::before  {
	opacity:0;
	content:"";		
	width:10px;
	height:10px;
	image-rendering:pixelated;
	margin-right:7px;
	background-image:url("../../images/resources/node-expand.png");
	background-size:10px;
}

projtree li.expandable::before  {
	opacity:1;
	background-image:url("../../images/resources/node-expand.png");
	display:inline-block;
	content:"";
	background-size:10px;
	width:10px;
	height:10px;
	image-rendering:pixelated;
	margin-right:7px;	
}

projtree li.expandable.expanded::before  {
	background-image:url("../../images/resources/node-collapse.png");
	display:inline-block;
	content:"";
	background-size:10px;
	width:10px;
	height:10px;
	image-rendering:pixelated;
	margin-right:7px;
}

projtree li.expandable ul {
	display:none;
}

projtree li a.create_new {
	display:none;
	vertical-align:super;
	font-size:10px;
}

projtree li span.label {	
	display:inline-block;	
	padding-right:100px;
}

projtree li span.label span {
	display:inline;
}

projtree li span.label:hover > a.create_new {
	display:inline;	
}


projtree li.expandable.expanded ul {
	display:block;
}
