.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html, body {
	border:0;
	margin:0;	
}

div.body {	
	width:100%;
	height: calc(100% - 35px);
	padding:0;
	margin:0;
}

div.body > div {
	padding:0;	
}

div.tabs-container div.tab-headers {
	border-bottom:1px solid black;
	height:23px;
}

div.tabs-container div.tab-headers > div.tab-header {
	display:inline-block;
	border:1px solid black;
	margin:0;
	padding:1px 6px 1px 5px;
	min-width:50px;
	font-size:12px;
	background:white;
	border-bottom:0px;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	height:22px;
}

div.tabs-container div.tab-headers > div.tab-header span {
	margin-right:5px;
}

div.tabs-container div.tab-headers > div.tab-header button.tab-close-btn {	
	width:9px;
	height:9px;
	border:0;
	margin:0;
	outline:0;
	background:transparent;
	background-image:url("../../resources/close-btn.png");
	background-size: contain;
	background-repeat: no-repeat;	
	image-rendering: crisp-edges;
}

div.tabs-container div.tab-headers > div.tab-header.focus {
	background:black;
	color:white;
}

div.tabs-container div.tab-headers > div.tab-header.focus button.tab-close-btn {	
	filter: invert(1);
}


div.tabs-container {
	border: 1px solid black;
	border-top:0px;
	border-bottom:0px;	
}

#TabBody {
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	margin:5px;
}

#TabContent > div {
	margin:5px;
}

div.hidden {
	display:none;
}
