div#toolbar-menu {
	margin-left: 0;
    margin-right: 0;
	border-bottom:1px solid black;	
	height: 35px;
}

div.toolbar-item {
	margin:0px 3px;
	display:inline-block;
	width:32px;
	height:32px; /*smaller would be nice but we'll deal with that later */
	background-size:contain;
	image-rendering:pixelated;
	cursor:hand;	
}

div.tb-save {
	background-image: url("../../images/SaveButton.png");
	
}

div.tb-save-as {
	background-image: url("../../images/SaveAsButton.png");
}

div.tb-build {
	background-image: url("../../images/CompileButton.png");
}

div.tb-run {
	background-image: url("../../images/PlayButton.png");
}

div.tb-settings {
	background-image: url("../../images/SettingButton.png");
}