<!doctype html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />    
    <title>DSC : Emulator</title>
</head>

<body>
    <style>
        html,
        body {
            overflow-x: hidden;
            -webkit-user-select: none;
            user-select: none;
            -webkit-touch-callout: none;
            cursor: inherit;
			position:relative;			
        }

        body {
            background-color: black;
            color: white;
            padding: 0;
            margin: 0;
            width: 100vw;
            height: 100vh;
            font-family: 'Myriad Set Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        }

        canvas {
            display:block;
            z-index: 1;
            image-rendering: pixelated;
        }        
    </style>       	
    <nds-player id="player"></nds-player>
	
	<textarea id="Logs" style="position:absolute; top:0; left:256px; width:256px; height:384px;">Log messages from DS ROM!
</textarea>
	<script src="../src/client/emulator/console_log.js"></script>
    <script src="../src/client/emulator/localforage.js"></script>
    <script src="../src/client/emulator/nds.js"></script>	
	
	<script>
		nds_log_feedback = function(msg) {			
			// maybe pass `msg` via api
			document.getElementById('Logs').innerHTML+=msg+"\n";
			if(document.getElementById('Logs').innerHTML.split("\n").length>20) {
				var lines = document.getElementById('Logs').innerHTML.split("\n");
				
				document.getElementById('Logs').innerHTML =  lines.slice(lines.length-20,lines.length).join('\n');
			}
		}		
		
		console.log(console.log);
	
		var player = document.querySelector("nds-player");
		if(player) {			
			player.innerHTML = '<div id="player"><canvas id="top" width="256" height="192"></canvas><canvas id="bottom" width="256" height="192"></canvas></div>';
			var getFileBlob = function(e,t) {
				var n = new XMLHttpRequest();
				n.open("GET",e)
				n.responseType="blob"
				n.addEventListener("load", function(){
					t(n.response);
				});
				n.send();										
			}
			
			var blobToFile = function(e,t) {
				return e.lastModifiedDate=new Date,e.name=t,e;
			}
			
			var getFileObject = function(e,t) {
				getFileBlob(e, function(e){
					t(blobToFile(e,"test.jpg"));
				})
			}
			
			function loadURL(e){
				getFileObject(e, function(e){
					console.log(e), tryLoadROM(e), status()
				});
			};
			
			function status() {
				console.log("loaded");
			}			
			
			player.loadURL = function(e) {loadURL(e);}
			player.loadBlob = function(e){tryLoadROM(e);}
			
		}		
	</script>
    <script>

        var plugins = {}
        var body = document.getElementsByTagName("body")[0]
        var html = document.getElementsByTagName("html")[0]


        window.onerror = function (msg, url, line, col, error) {
            var extra = !col ? '' : '\ncolumn: ' + col;
            extra += !error ? '' : '\nerror: ' + error;
            alert("Error: " + msg + "\nurl: " + url + "\nline: " + line + extra);
            window.onerror = console.log
            debugger
            return true;
        };

        function $id(id) {
            return document.getElementById(id);
        }

        var isIOS = !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
        var isWebApp = navigator.standalone || false
        var isSaveSupported = true
        var isSaveNagAppeared = false       

        var emuKeyState = new Array(14)
        const emuKeyNames = ["right", "left", "down", "up", "select", "start", "b", "a", "y", "x", "l", "r", "debug", "lid"]
        var vkMap = {}
        var vkState = {}
        var keyNameToKeyId = {}
        var vkStickPos
        for (var i = 0; i < emuKeyNames.length; i++) {
            keyNameToKeyId[emuKeyNames[i]] = i
        }

        const emuKeyboradMapping = [39, 37, 40, 38, 16, 13, 90, 88, 65, 83, 81, 87, -1, 8]
        var emuGameID = 'unknown'
        var emuIsRunning = false
        var fps = 0
        var divFPS = $id('fps')
        var fileInput = $id('rom')
        var romSize = 0

        var FB = [0, 0]
        var screenCanvas = [document.getElementById('top'), document.getElementById('bottom')]		
        var ctx2d = screenCanvas.map((v) => { return v.getContext('2d', { alpha: false }) })

        var audioContext
        var scriptProcessor
        var AUDIO_BLOCK_SIZE = 2048
        var AUDIO_ORIG_SAMPLES_DESIRED = AUDIO_BLOCK_SIZE
        var audioBuffer
        var tmpAudioBuffer = new Int16Array(16384 * 2)
        var audioWorkletNode

        var frameCount = 0
        var prevCalcFPSTime = 0
        var shouldDraw = false
        var touched = 0
        var touchX = 0
        var touchY = 0
        var prevSaveFlag = 0
        var lastTwoFrameTime = 10
        var fbSize

        function callPlugin(type, arg) {
            for (var k in plugins) {
                if (plugins[k].handler) {
                    plugins[k].handler(type, arg)
                }
            }
        }

        function emuRunFrame() {
            var keyMask = 0;
            for (var i = 0; i < 14; i++) {
                if (emuKeyState[i]) {
                    keyMask |= 1 << i
                }
            }
            shouldDraw = true
            Module._runFrame(shouldDraw ? 1 : 0, keyMask, touched, touchX, touchY)
            if (shouldDraw) {
                ctx2d[0].putImageData(FB[0], 0, 0)
                ctx2d[1].putImageData(FB[1], 0, 0)
            }
            if (audioWorkletNode) {
                try {
                    var samplesRead = Module._fillAudioBuffer(4096)
                    tmpAudioBuffer.set(audioBuffer.subarray(0, samplesRead * 2))
                    audioWorkletNode.port.postMessage(tmpAudioBuffer.subarray(0, samplesRead * 2))
                } catch (error) {
                    // tmpAudioBuffer may be detached if previous message is still processing 
                    console.log(error)
                }
            }

            frameCount += 1
            if (frameCount % 120 == 0) {
                var time = performance.now()
                fps = 120 / ((time - prevCalcFPSTime) / 1000)
                prevCalcFPSTime = time
                //divFPS.innerText = 'fps:' + ('' + fps).substring(0, 5)
            }
            if (frameCount % 120 == 0) {
                checkSaveGame()
            }
        }

        function wasmReady() {            
            //setInterval(emuRunFrame, 1000/120)
        }


        function checkSaveGame() {
            var saveUpdateFlag = Module._savUpdateChangeFlag()
            if ((saveUpdateFlag == 0) && (prevSaveFlag == 1)) {
                var size = Module._savGetSize()
                if ((size > 0) && (isSaveSupported)) {
                    var ptr = Module._savGetPointer(0)
                    var tmpSaveBuf = new Uint8Array(size)
                    tmpSaveBuf.set(Module.HEAPU8.subarray(ptr, ptr + size))
                    localforage.setItem('sav-' + gameID, tmpSaveBuf)                    
                }
            }
            prevSaveFlag = saveUpdateFlag
        }
		
		window.onload = function() {				
			console.log(localStorage.getItem('ProjectDir'));
            setTimeout(function() {				
                document.querySelector("#player").loadURL(localStorage.getItem("ROMPath"));
                console.log(localStorage.getItem('ROMPath'));
            }, 1000)
        }

        async function tryLoadROM(file) {
            if (!file) {
                return
            }
            if (file.size < 1024) {
                return
            }
            var header = new Uint8Array(await (file.slice(0, 1024)).arrayBuffer())
            gameID = ''
            for (var i = 0; i < 0x10; i++) {
                gameID += (header[i] == 0) ? ' ' : String.fromCharCode(header[i])
            }
            if (gameID[0xC] == '#') {
                // a homebrew!
                gameID = file.name
            }
            console.log('gameID', gameID)
            romSize = file.size
            var romBufPtr = Module._prepareRomBuffer(romSize)
            console.log(romSize, romBufPtr)
            Module.HEAPU8.set(new Uint8Array(await file.arrayBuffer()), romBufPtr);
            var saveData = await localforage.getItem('sav-' + gameID)
            if (saveData) {
                Module.HEAPU8.set(saveData, Module._savGetPointer(saveData.length))
            }
            Module._savUpdateChangeFlag()
            var ret = Module._loadROM(romSize);
            if (ret != 1) {
                alert('LoadROM failed.')
                return;
            }


            ptrFrontBuffer = Module._getSymbol(5)
            var fb = Module._getSymbol(4)
            for (var i = 0; i < 2; i++) {
                FB[i] = new ImageData(new Uint8ClampedArray(Module.HEAPU8.buffer).subarray(fb + 256 * 192 * 4 * i, fb + 256 * 192 * 4 * (i + 1)), 256, 192)
            }
            var ptrAudio = Module._getSymbol(6)
            audioBuffer = new Int16Array(Module.HEAPU8.buffer).subarray(ptrAudio / 2, ptrAudio / 2 + 16384 * 2)
            console.log('Start!!!')
            emuIsRunning = true
            callPlugin('loaded', gameID)
        }

        function processAudio(event) {
            var outputBuffer = event.outputBuffer
            var audioData0 = outputBuffer.getChannelData(0)
            var audioData1 = outputBuffer.getChannelData(1)
            if ((!emuIsRunning) || (fps <= 10)) {
                for (var i = 0; i < AUDIO_BLOCK_SIZE; i++) {
                    audioData0[i] = 0
                    audioData1[i] = 0
                }
                return
            }
            var samplesRead = Module._fillAudioBuffer(AUDIO_BLOCK_SIZE)
            for (var i = 0; i < samplesRead; i++) {
                audioData0[i] = audioBuffer[i * 2] / 32768.0
                audioData1[i] = audioBuffer[i * 2 + 1] / 32768.0
            }
            for (var i = samplesRead; i < AUDIO_BLOCK_SIZE; i++) {
                audioData0[i] = 0
                audioData1[i] = 0
            }
        }

        // must be called in user gesture
        async function tryInitSound() {
            try {
                if (audioContext) {
                    if (audioContext.state != 'running') {
                        audioContext.resume()
                    }
                    return;
                }
                audioContext = new (window.AudioContext || window.webkitAudioContext)({ latencyHint: 0.0001, sampleRate: 48000 });
                if (!audioContext.audioWorklet) {
                    alert('AudioWorklet is not supported in your browser...')
                    /*
                    console.warn('audio worklet not supported, falling back to script processor...')
                    // fall back to the scriptprocessor
                    scriptProcessor = audioContext.createScriptProcessor(AUDIO_BLOCK_SIZE, 0, 2)
                    scriptProcessor.onaudioprocess = processAudio
                    scriptProcessor.connect(audioContext.destination)*/
                } else {
                    await audioContext.audioWorklet.addModule("/audio-worklet.js")
                    audioWorkletNode = new AudioWorkletNode(audioContext, "my-worklet", { outputChannelCount: [2] })
                    audioWorkletNode.connect(audioContext.destination)
                }

                audioContext.resume()
            } catch (e) {
                console.log(e)
                //alert('Cannnot init sound ')
            }
        }

        function emuLoop() {
            window.requestAnimationFrame(emuLoop)
            if (emuIsRunning) {
                emuRunFrame()
            }
        }
        emuLoop()

        var stickTouchID = false

        function isPointInRect(x, y, r) {
            if ((x >= r.x) && (x < r.x + r.width)) {
                if ((y >= r.y) && (y < r.y + r.height)) {
                    return true
                }
            }
            return false
        }       



        window.onmousedown = window.onmouseup = window.onmousemove = (e) => {
            if (!emuIsRunning) {
                return
            }
            if (e.type == 'mousedown') {
                tryInitSound()
            }

            var r = screenCanvas[1].getBoundingClientRect()

            e.preventDefault()
            e.stopPropagation()
            
            var isDown = (e.buttons != 0) && (isPointInRect(e.clientX, e.clientY, r))
            var x = (e.clientX - r.x) / r.width * 256
            var y = (e.clientY - r.y) / r.height * 192

            touched = isDown ? 1 : 0;
            touchX = x
            touchY = y
        }

        
        function convertKeyCode(keyCode) {
            for (var i = 0; i < 14; i++) {
                if (keyCode == emuKeyboradMapping[i]) {
                    return i
                }
            }
            return -1
        }
        window.onkeydown = window.onkeyup = (e) => {
            if (!emuIsRunning) {
                return
            }
            e.preventDefault()
            var isDown = (e.type === "keydown")
            var k = convertKeyCode(e.keyCode)
            if (k >= 0) {
                emuKeyState[k] = isDown
            }
        }


    </script>
</body>

</html>