<!doctype html>
<html>

<head>
    <title>DSC : Emulator</title>
</head>

<body>
    <desmond-player id="player"></desmond-player>
    <!--<input type="file" style="position: absolute; transform: translate(-50%, -50%); left: 50%; top: 95%; color: white;"></input>-->
    <script src="../src/client/emulator/desmond.min.js"></script>	
    <script>
        
      
        window.onload = function() {
            console.log(localStorage.getItem('ProjectDir'));
            setTimeout(function() {				
                document.querySelector("#player").loadURL(localStorage.getItem("ROMPath"));
                console.log(localStorage.getItem('ROMPath'));
            }, 1000)
        }
    </script>
</body>
</html>