<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="../styles/engine.css" />
</head>
<body>
    <div class="Header">
        <input type="image" src="../images/SaveButton.png" id="SaveButton" />
        <input type="image" src="../images/PlayButton.png" id="PlayButton" />
        <input type="image" src="../images/CompileButton.png" id="CompileButton" />
        <input type="image" src="../images/SettingButton.png" id="SettingsButton" />
    </div>

    <div id="Console">
        <p id="Console-Text"></p>
    </div>

    <div class="Left-Bar">
        <div class="Art-Left">
            <p><b>Art</b>
            <br>Backgrounds <button>+</button><br>
            Sprites <button>+</button></br></br></p>
        </div>

        <div class="Objects-Left">
            <p><b>Objects</b>
            <br>Scenes <button>+</button><br>
            Actors <button>+</button></br></br></p>
        </div>
    
        <div class="Music-Left">
            <p><b>Sound</b>
            <br>Music <button>+</button><br>
            Sound Effects <button>+</button></br></br></p>
        </div>
    </div>

    <script src="../src/client/compiler/cmd.js"></script>

    <script>
        window.onload = function() {
            console.log(localStorage.getItem('ProjectDir'));
        }

        document.getElementById('PlayButton').addEventListener('click', () => {
            openProject();
         });

        function openProject() {
            window.ipcRender.invoke('openEmu')
                .then((ROM) => {
                    localStorage.setItem('ROMPath', localStorage.getItem('ProjectDir') + "\\" + localStorage.getItem('ProjectFileName') + '.nds');
                    console.log(localStorage.getItem('ROMPath'));
                });
        }
    </script> 
    
</body>
</html>