<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DSC : New Project</title>
</head>
<body>
    <input class="btn-menu" type="button" id="sample-proj-btn" value="Sample Project"/>
    <input class="btn-menu" type="button" id="blank-proj-btn" value="Blank Project"/>
    <input class="btn-menu" type="button" id="back-btn" value="Back"/>

    <script>
        var confirming;
        document.getElementById('back-btn').addEventListener('click', () => {
            window.location = '../index.html';
         });

         document.getElementById('sample-proj-btn').addEventListener('click', () => {
            confirming = confirm('Do you really want to make a sample project?');
            confirm(confirming);
         });
         document.getElementById('blank-proj-btn').addEventListener('click', () => {
            confirming = confirm('Do you really want to make a blank project?');
            confirm(confirming);
         });
    </script>
</body>
</html>