<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>DSC : Create New Project</title>
		
		<link rel="stylesheet" href="../dependencies/style/bootstrap.min.css" />		
		
		<link rel="stylesheet" href="../styles/new_proj/style.css" />
	</head>
	<body>
		<div class="container" style="padding:20px 0px;">						
			<h3>Create new project...</h3>			
			<div class="row"><p>Project Name</p></div>						
			<div class="row">
			<input type="text" class="text-box" id="name-input"/>
			</div>
			<div class="row errbox" id="name-input-error"></div>
			
			<div class="row"><p>Project Path</p></div>
			<div class="row">
				<input type="text" class="text-box" id="path-input"/>
				<button class="btn btn-light" id="path-selector">...</button>				
			</div>								
			<div class="row errbox" id="path-input-error"></div>
			
			<div class="row"><p>Template</p></div>
			<div class="row">
				<select>
					<option>Blank Project</option>
					<option>Visual Novel</option>
					<option>Platformer</option>
					<option>Open World RPG</option>
				</select>
			</div>
			
				
			<hr/>
			<div class="row buttons-panel">
				<button class="btn btn-primary" type="button" id="back-btn">Back</button>
				<button class="btn btn-primary" type="button" id="create-proj-btn">Create Project</button>				
			</div>
			
		</div>
		
	</body>
	<script src="../dependencies/src/jquery.min.js"></script>
	<script src="../dependencies/src/bootstrap.min.js"></script>

    <!--script src="../src/client/project_handle/project_btn.js"></script-->
	<script src="../src/client/project_handle/new_project.js"></script>
</html>